.Rproj.user
.Rhistory
.RData
.Ruserdata
outputs
stan/count_det_nondet_negbin_gp
stan/count_det_nondet_negbin_hs_gp
stan/count_det_nondet_poisson_gp
stan/count_only_negbin_gp
stan/count_only_poisson_gp
stan/gp_prior_tune
outputs/
stan/count_only_poisson_gp_ms
data/nv2005_evcbcs/.DS_Store
data/nv2005_evcbcs/nv2005_evcbcs.cpg
data/nv2005_evcbcs/nv2005_evcbcs.dbf
data/nv2005_evcbcs/nv2005_evcbcs.prj
data/nv2005_evcbcs/nv2005_evcbcs.shp
data/nv2005_evcbcs/nv2005_evcbcs.shx
data/coastline/dist_coast/dblbnd.adf
data/coastline/dist_coast/hdr.adf
data/coastline/dist_coast/log
data/coastline/dist_coast/metadata.xml
data/coastline/dist_coast/prj.adf
data/coastline/dist_coast/sta.adf
data/coastline/dist_coast/w001001.adf
data/coastline/dist_coast/w001001x.adf
data/coastline/dist_coast_me/dblbnd.adf
data/coastline/dist_coast_me/hdr.adf
data/coastline/dist_coast_me/log
data/coastline/dist_coast_me/metadata.xml
data/coastline/dist_coast_me/sta.adf
data/coastline/dist_coast_me/w001001.adf
data/coastline/dist_coast_me/w001001x.adf
