.Rproj.user
.Rhistory
.RData
.Ruserdata
stan/count_det_nondet_negbin_gp
stan/count_det_nondet_negbin_hs_gp
stan/count_det_nondet_poisson_gp
stan/count_only_negbin_gp
stan/count_only_poisson_gp
stan/gp_prior_tune
stan/count_only_poisson_gp_ms
data/nv2005_evcbcs/.DS_Store
data/nv2005_evcbcs/nv2005_evcbcs.cpg
data/nv2005_evcbcs/nv2005_evcbcs.dbf
data/nv2005_evcbcs/nv2005_evcbcs.prj
data/nv2005_evcbcs/nv2005_evcbcs.shp
data/nv2005_evcbcs/nv2005_evcbcs.shx
data/coastline/dist_coast/dblbnd.adf
data/coastline/dist_coast/hdr.adf
data/coastline/dist_coast/log
data/coastline/dist_coast/metadata.xml
data/coastline/dist_coast/prj.adf
data/coastline/dist_coast/sta.adf
data/coastline/dist_coast/w001001.adf
data/coastline/dist_coast/w001001x.adf
data/coastline/dist_coast_me/dblbnd.adf
data/coastline/dist_coast_me/hdr.adf
data/coastline/dist_coast_me/log
data/coastline/dist_coast_me/metadata.xml
data/coastline/dist_coast_me/sta.adf
data/coastline/dist_coast_me/w001001.adf
data/coastline/dist_coast_me/w001001x.adf
data/landcover/2017_TDLC_smoothed_urbanmasked_class.tif
data/landcover/2017_TDLC_smoothed_urbanmasked_class.tif.aux.xml
data/landcover/2017_TDLC_smoothed_urbanmasked_class.tif.clr
data/landcover/2017_TDLC_smoothed_urbanmasked_class.tif.ovr
data/landcover/2017_TDLC_smoothed_urbanmasked_class.tif.ovr.aux.xml
data/landcover/PDLC_smoothed.tif.lyr
data/landcover/SDLC_smoothed.tif.lyr
data/landcover/TDLC_smoothed.tif.lyr
outputs/models/fit_multispecies_1.rds
outputs/models/fit_multispecies_2.rds
outputs/models/fit_multispecies_3.rds
outputs/models/fit_multispecies_4.rds
outputs/models/fit_multispecies_5.rds
outputs/models/fit_multispecies_6.rds
outputs/models/fit_multispecies_7.rds
data/crown_land.rds
